@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.background-image 
{
    background-image: url('https://cdn.pixabay.com/photo/2018/05/13/12/38/bitcoin-3396302_960_720.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
}
.body{
    background-color: #f5f5f5;
}
.pages:hover {
    
    margin-right: 3px;
    transform:translateX(3px);
    color:aquamarine;
    transition: all 1s ease-out;
     /* transition: margin-right 2s;  */
}
.atag:hover{
    margin-right: 3px;
}
.shadow{
    /* color: red; */
  text-shadow: 2px 2px 4px #000000;
}
.headerBorder{
    border-bottom: 0.001em solid white;
}
 marquee {
        padding-top: 2%; 
        padding-bottom: 2%;
    }
    .coin_wrapper {
        color: black; padding-right: 20%; 
        border: 1px solid gray; 
        padding-left:1%; 
        padding-right:1%;}
    .coin_symbol {
        --tw-text-opacity: 1;
        color: rgb(75 85 99 / var(--tw-text-opacity));
        font-weight: 800;
    }
    .coin_price { 
        padding-left:1%; 
        padding-right:1%;
    }
    .coin_change { 
        padding-left:1%; 
        padding-right:1%;
    }
    .arrow {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
    }
    .coin_change_green {
        color: green; 
    }
    .coin_change_red {
        color: red; 
    }
